@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: white;
	margin:0;
	padding:0;
}

.containner {
	width:100%;
	height:100vh;
	margin: 0px auto;
	display:flex;
	
}

.signinImage {
	width:50%;
	height:100%;
}

.signinImage img {
	width:100%;
	height:100%;
	object-fit: cover;
}

.signinForm {
	padding: 20px;
	width: 250px;
	margin: 100px 100px auto 100px;
}
#btnOverlapped {
	margin-bottom: 10px;
}
.signinForm h3 {
	margin-bottom: 20px;
	color: black;
	font-size: 2rem;
	font-weight: bold;
}

.signinForm form {
	text-align: center;
}

.signinForm table {
	margin: 0 auto;
}

.signinForm input[type="text"],
.signinForm input[type="password"] {
	width: 250px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
}

.signinForm input[type="submit"],
.signinForm input[type="button"] {
	width: 250px;
	padding: 10px;
	background-color: #36B3a8;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.signinForm input[type="submit"]:hover,
.signinForm input[type="button"]:hover {
	background-color: #088395;
}

.signinForm input[type="text"][name^="phone"] {
    width: calc(33% - 12px); /* Adjust the width as needed */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
}

.signinForm input[type="text"][name^="email"] {
	width: calc(50% - 15px); /* Adjust the width as needed */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}