@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a{text-decoration: none; font-size:20px; color:white;}
.container {
    width: 1140px;
    margin: 0 auto;
}

/* 
-----------------------------
í—¤ë” 
-----------------------------
*/
header {
    width: 100%;
    height:80px;
    position:fixed;
    z-index: 1;
    background-color: rgb(11, 23, 39);
}
header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0 auto;
}
header .container img {
    width: 123px;
    height: 50px;
}
header .container .nav {
    width: 500px;
}
header .container .nav .menu {
    display: flex;
    justify-content: space-between;
}
header .container .nav .menu>li {
    width: 20%;
    text-align: center;
    background-color: inherit;
    line-height: 40px;
}
header .container .nav .menu li .submenu {
    background-color: #1f1f1f;
    z-index: 2;
    color: aliceblue;
}
header .container .nav .menu .submenu {
    display: none;
    
}
header .container .nav .menu .submenu>li {
    line-height: 50px;
}
header .container .nav .menu>li:hover .submenu{
    display:block;
    transition: .2s ease-in-out;
}