@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: white;
	margin:0;
	padding:0;
}

.containner {
	width:100%;
	height:100vh;
	margin: 0px auto;
	display:flex;
}

.loginImage {
	width:50%;
	height:100%;
}

.loginImage img {
	width:100%;
	height:100%;
	object-fit: cover;
}

.loginForm {
	padding: 20px;
	width: 250px;
	margin: 150px 100px auto 100px;
}

.loginForm h3 {
	margin-bottom: 20px;
	color: black;
	font-size: 2rem;
	font-weight: bold;
}

.loginForm form {
	text-align: center;
}

.loginForm table {
	margin: 0 auto;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
	width: 250px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
}

.loginForm input[type="submit"],
.loginForm input[type="button"] {
	width: 250px;
	padding: 10px;
	background-color: #36B3a8;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.loginForm input[type="submit"]:hover,
.loginForm input[type="button"]:hover {
	background-color: #088395;
}

.loginForm span {
	font-size: 0.9rem;
}

.loginForm a {
	text-decoration: none;
	color: #36B3a8;
}

.loginForm a:hover {
	text-decoration: underline;
	color:  #088395;
}