@charset "UTF-8";
body {
	background-color:#f1f1f2;
}

.containner {
	width: 1140px;
	margin: 110px auto 20px auto;
}

.containner .summary {
	width: 100%;
	background-color: white;
	border: 1px solid #e6e7e8;
}

.containner .summary .summaryContainner {
	width: 760px;
	text-align: center;
	margin: 30px auto;
}

.containner .summary .summaryContainner img {
	width: 100%;
	height: 400px;
	object-fit: cover;
	border-radius: 5%;
}

.containner .summary .summaryContainner .introduce {
	margin-top: 20px;
}

.containner .introduce .icons {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 1.2rem;
}

.containner .ingredient {
	width: 100%;
	margin-top: 10px;
	background-color: white;
	border: 1px solid #e6e7e8;
	padding: 15px 30px;
}

.containner .ingredient ul {
 	width: 90%;
 	margin: 0 auto;
}
.containner .ingredient ul li {
	width: 46%;
	display:inline-block;
	vertical-align:top;
	height: 40px;
	font-size: 1.2rem;
}

.containner .recipeInfo {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	border: 1px solid #e6e7e8;
	padding: 15px 30px;
}

.containner .recipeInfo p {
	font-size: 1.5rem;
	margin-top: 15px;
}

/*comment */
#replysession {
	margin-bottom: 15px;	
}

#replyComment {
	width: 1140px;
	height: 80px;
	font-size: 16px;
}

.commentBox {
	background-color: white;
	border: 1px solid #e6e7e8;
}
.comment {
  border-bottom: 1px solid #e6e7e8;
  padding: 15px 30px;
}

.comment h3 {
	margin-bottom: 20px;
}

/* Style .commentContent */
.commentContent {
  font-size: 1.2rem;
}
.commentContent li {
	margin-top: 5px;
}
.commentContent li span {
	font-size: 0.9rem;
}

/* Style .editForm */
.editForm {
  margin-top: 10px;
}

/* Style the buttons in .commentContent */
.commentContent button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
}

.commentContent button:hover {
  background-color: #0056b3;
}