@charset "UTF-8";
body {
	background-color:#f1f1f2;
}

.containner {
	width: 1140px;
	margin: 110px auto 20px auto;
}

.containner .summary {
	width: 100%;
	background-color: white;
	border: 1px solid #e6e7e8;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.containner .summary .summaryContainner {
	width: 760px;
	text-align: center;
	margin: 30px auto;
}

.containner .summary .summaryContainner img {
	width: 100%;
	height: 400px;
	object-fit: cover;
	border-radius: 5%;
}

.containner .summary .summaryContainner .introduce {
	margin-top: 20px;
}

.containner .introduce .icons {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 1.2rem;
}

.containner .ingredient {
	width: 100%;
	margin-top: 10px;
	background-color: white;
	border: 1px solid #e6e7e8;
	padding: 15px 30px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.containner .ingredient ul {
 	width: 90%;
 	margin: 0 auto;
}
.containner .ingredient ul li {
	width: 46%;
	display:inline-block;
	vertical-align:top;
	height: 40px;
	font-size: 1.2rem;
}

.containner .recipeInfo {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	border: 1px solid #e6e7e8;
	padding: 15px 30px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.containner .recipeInfo p {
	font-size: 1.5rem;
	margin-top: 15px;
}

/*comment */
#replysession {
	background-color: white; 
	border: 1px solid #e6e7e8;
	padding: 15px 30px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	margin-bottom: 15px;
}

#replyComment {
	width: 100%;
	height: 100px; 
	font-size: 16px;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 3px;
	resize: vertical;
}

.submitCommentButton {
	background-color: #36B3a8;
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 10px; 
}

.submitCommentButton:hover {
	background-color: #0056b3;
}

.commentBox {
	background-color: white;
	border: 1px solid #e6e7e8;
}
.comment {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	padding: 15px 30px;
}

.comment h3 {
	margin-bottom: 20px;
}

/* Style .commentContent */
.commentContent {
	border-top: 1px solid #e6e7e8;
	border-bottom: 1px solid #e6e7e8;
 	font-size: 1.2rem;
 	padding: 10px 20px 10px 10px;
}
.commentContent #nickName {
	display:inline-block;
}
.commentContent li {
	margin-top: 5px;
	font-size: 1rem;
}
.commentContent li span {
	font-size: 1.2rem;
	color: #de4830;
	margin-right: 15px;
}

/* Style .editForm */
.editForm {
 	margin-top: 10px;
}

/* Style the buttons in .commentContent */
.commentContent button {
	 color: black;
	 border: none;
	 cursor: pointer;
	 background-color: transparent;
}
